<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MC Panel Login</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>

<body style="display:flex;align-items:center;justify-content:center;height:100vh;">

<div class="card" style="width:320px;">
  <h2 style="margin-bottom:20px;">⛏️ MC  Colab Panel</h2>

  <form method="post">
    <input name="u" placeholder="Username" style="width:100%;padding:10px;margin-bottom:10px;">
    <input name="p" type="password" placeholder="Password" style="width:100%;padding:10px;margin-bottom:10px;">
    <button class="btn btn-accent" style="width:100%;">Login</button>
  </form>
</div>

</body>
  </html>
